@tailwind base;
@tailwind components;
@tailwind utilities;



.loader {
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-bottom-color: #47752d;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
